div#main{
	width:100%;
	margin:10px;
}
div#main>ul{
	list-style:none;
}
div#main>ul>li{
	height:30px;
/* 	display:none; */
}
div#main>ul:hover{
	
}
table{
	width:80%;
	height:80%;
}
#bookList{
	margin:20px auto;
	border:1px solid rgb(0,0,0);
	font: 20px blue YaHei; 
}
#booklist>ul{
	list-style:none;
}
li.data{
	list-style:none;
	display:none;
}
li.pager{
	list-style:none;
	height:30px;
	width:30px;
	float:left;
	border:1px solid black;
	margin:5px;
	cursor:pointer;
	text-align:center;
	font:0.8em black YaHei; 
}
#pagerNav>ul{
	list-style:none;
}

